:root {
    --margin: 10px;
  }
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
    width: 100%;
    background-color: #cbd6d1;
    cursor: url('croissant.png'), auto;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 22vw;
  }
  
  ul {
    list-style-type: none;
  }

  h1 {
    color: white;
  }
  
  #contents {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--margin);
    align-items: start;
    justify-items: start;
    padding: 0;
    margin-top: 20vh;
  }

  img {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
  }

  .block {
    padding: var(--margin);
    /*--color is the name of the variable that must be defined*/
    background-color: none;
    /*remove var to remove random width function*/
    width: 20vw;
    height: 20vw;
    
  }

  .block__image__caption{
    margin: none;
    display: none;
    word-break:break-all
  }
 
  header{
    z-index: 1;
    margin-left: 24vw;
    margin-top: 1vw;
    width: 60vw;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    color: #ffffff;
    position: fixed;
  }
  .sidenav {
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 20vh;
    left: 3vw;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    color: #3b486c;
    display: block;
  }
  
  .sidenav a:hover {
    color: #71a4cd;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }